// Fonts
$main-font: "Source Sans Pro", sans-serif;
$secondary-font: "Bungee", sans-serif;

// Colours
// Background
$nav-background:  #4056A1;
$main-background: #f4f1ec;
$header-background: orange;
$alert-background: #ffd0d0;

// Font
$main-font: #545149;
$bright-font: #FFFF;
$alert: red;

// Icons
$icons-main: rgb(40, 74, 168);
$icons-hover: rgb(226, 158, 32);

// Other
$arrow: #d83e3e;
$shadow: #a6b2c5;
