@media (min-width: 1024px) {
  body {
    flex-direction: row;
    margin-top: 9rem;
  }

  .container {
    width: 50%;
    margin-right: 3rem;
  }

  .profile-header {
    width: 50%;
    margin: 5rem 10rem 0rem 3rem;
  }
 }