@import "abstracts/_variables.scss", "abstracts/mixins";

/* Main Container */
.profile-header {
  @include vertical-alignment;
  align-items: center;
  height: 400px;
  background-color: $header-background;
  background-image: url(../images/dark-matter.png);
  color: $bright-font;
  width: 100%;
  margin-top: 120px;
  
  h2 { /* User-Name */
    margin: 0;
  }
}

.lighter-font {
  font-weight: 300;
}