@import "_variables.scss";

.tweet {
  border: solid; 
  margin: 1.5rem 0;
  display:flex;
  flex-direction: column;
}

.tweet:hover {
  box-shadow: 0.44rem 0.44rem $shadow;
}
/* Header of Tweet*/
article.tweet header {
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.poster-profile {
  display: flex;
  align-items: center;
}

.poster-profile img {
  margin-right: 0.75rem;
  width: 3rem;
}

.tweet-handle {
  color: $shadow;
  font-weight: 600;
  justify-self: flex-end;
}

/* Body of the Tweet */
.tweet-body {
  margin-left: 1.5rem;
  word-wrap:break-word;
}

/* Footer of Tweet */
article.tweet footer {
 border-top: solid;
 width: 97%;
 display: flex;
 justify-content: space-between;
 font-size: 60%;
 padding: 0.45rem 0.9rem;
 margin-bottom: 0.9rem;
 align-self: center;
}

.footer-icons .fas {
  margin: 0.18rem;
  color: $icons-main;
}

.footer-icons .fas:hover {
  color: $icons-hover;
}