/* Containers */
.profile-header {
  height: 400px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  background-color: orange;
  background-image: url(../images/dark-matter.png);
  color: #FFFF;
}

.profile {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 0.2rem;
 }
 
/* User Name */
h2 {
  margin: 0;
}

.lighterFont {
  font-weight: 300;
}