/* Main Container */
.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: orange;
  background-image: url(../images/dark-matter.png);
  color: #FFFF;
  width: 100%;
  margin-top: 120px;
}
.profile-header h2 {
  /* User-Name */
  margin: 0;
}

.lighter-font {
  font-weight: 300;
}
