nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 120px;
  padding: 2.5em 1.5em 0em 1.5em;
  background-color: #4056A1;
  color: #FFFF;
 
  /* To fix the navbar at the top */
  position:fixed;
  top: 0; 
  width: 100%;
 
}

.down-arrow-icon {
  align-self: center;
  color: rgb(216, 62, 62)
}

.bold { /* To bold write in the nav */
  font-weight: bold;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 2rem;
}



