/* Selectors */
nav {
  height: 120px;
  padding: 2.5em 1.5em 0em 1.5em;
  background-color: #4056A1;
  color: #FFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
 
}
/* Classes */
.arrowIcon {
  display: flex;
  color: rgb(241, 70, 70);
  justify-content: center;

}

.bold {
  font-weight: bold;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}



