/* Selectors */
nav {
  height: 120px;
  padding: 2.5em 1.5em 0em 1.5em;
  background-color: #4056A1;
  color: #FFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  z-index: 1;
 
}
/* Classes */
.down-arrow-icon {
  align-self: center;
  color: rgb(216, 62, 62)
}

.bold {
  font-weight: bold;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}



