.tweet {
  border: solid; 
  margin-top: 2em;
  display:flex;
  flex-direction: column;
}

.tweet:hover {
  box-shadow: 7px 7px #a6b2c5;;
}

/* Header of Tweet*/
article.tweet header {
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.poster-profile {
  display: flex;
  align-items: center;
}

.poster-profile img {
  margin-right: 0.5em;
  width: 2em;
  height: 2em;
}

.tweet-handle {
  color: #a6b2c5;
  font-weight: 600;
  justify-self: flex-end;
  text-align: right;
}

.user-name{
  font-weight: 300;
}

/* Body of the Tweet */
.tweet-body{
  margin-left: 1em;
  word-wrap:break-word;
}

/* Footer of Tweet */
article.tweet footer {
 border-top: solid;
 width: 97%;
 display: flex;
 justify-content: space-between;
 font-size: 60%;
 padding: 0.5em 1em;
 margin-bottom: 1em;
 align-self: center;
}

.footer-icons .fas {
  margin: 0.2em;
  color: rgb(40, 74, 168)
}

.footer-icons .fas:hover {
  color:rgb(226, 158, 32);
}